body {
    height: 100vh;
    font-family: Roboto, sans-serif;
    margin: 0;

    #root {
        height: 100%;
        
        .container {
            display: flex;
            height: 100%;
        }
    }
}
