@import 'partials/_colors';

#child {

  h1, p, h2, div {
    color: $OF-Fifth;
  }

  h1 {
    text-align: center;
  }

  pre {
    margin-top: 10px;
  }
}

#child-body {
  background-color: $OF-Fourth;
  height: 100%;
  font-family: Roboto, sans-serif;
}
