@import 'partials/_colors';

#child {
  background-color: $OF-Fourth;
  min-height: 500px;
  height: 100%;

  h1, p, h2, div {
    color: $OF-Fifth;
  }

  h1 {
    text-align: center;
  }

  pre {
    margin-top: 10px;
  }
}
