@import 'partials/_colors';

.page {
  padding-top: 10px;
  padding-bottom: 10px;
  background: $OF-Fourth;
  min-height: 500px;
  height: 100%;
  overflow: auto;
  background-color: $OF-Offwhite;

  h1, h2, div {
    color: $OF-Fifth;
  }

  .page-header {
    border-bottom: 2px solid $OF-First;
    cursor: deafult;

    h2 {
      text-transform: capitalize;

      i {
        font-size: 35px;
        vertical-align: bottom;
        margin-right: 5px;
      }
    }

    h2, h5, p {
      margin-left: 15px;

      &::first-letter {
        text-transform: uppercase;
      }
    }
    h5, p {
        color: $OF-Fifth;
    }
  }
}
