.pages-wrapper {
    height: 100%;
    flex: 3;
    max-height: 100vh;
    display: flex;
    flex-flow: column;

    .application-bar {
        width: 100%;
        -webkit-app-region: drag;
        flex: 0 0 auto;
 
        .application-controls {
            height: 40px;
            margin-right: 14px;
    
            .controls-icon {
                -webkit-app-region: no-drag;
                margin: 15px 6px 6px 2px;
                float: right;
            }
            .controls-icon:hover {
                cursor: pointer;
            }
        }
    }

    .pages-footer {
        flex: 0 0 auto;
        height: 10px;
    }

    .pages-content {
        width: 95%;
        margin: auto;
        margin-top: 0;
        padding: 0 10px 0 20px;
        flex: 0 1 auto;
        overflow-y: scroll;

        .menu-section-name {
            height: 11px;	
            opacity: 0.6;	
            color: #171726;	
            font-size: 11px;	
            letter-spacing: 1px;	
            line-height: 13px;
        }

        .page-headline { 
            width: 379.27px;	
            color: #171726;	
            font-size: 34px;	
            line-height: 41px;
            margin: 10px 0px 10px 0px;
        }

        .page-headline-caption { 	
            opacity: 0.67;	
            color: #000000;	
            font-size: 18px;	
            line-height: 24px;
            margin: 10px 0px 10px 0px;
        }

        .divider {
            box-sizing: border-box;	
            height: 3px;	
            border: 1px solid #979797;	
            opacity: 0.3;
        }

        .sections {
            .section-title {
                font-size: 22px;
                color: #171726;

                .section-description {
                    color: #000;
                    font-size: 16px;
                }

                .need-to-know {
                    margin-top: 10px;
                    border-left: 3px solid #504CFF;

                    .need-to-know-title {
                        padding-left: 10px;
                        font-size: 16px;
                        font-weight: bold;
                    }

                    .section-need-to-know {
                        padding-left: 10px;
                        font-size: 16px;
                        color: #000;
                    }
                }

                .demo-code {
                    display: block;
                    font-size: 14px;
                }

                .section-jsdocs {
                    float: right;
                    font-size: 12px;
                    cursor: pointer;

                    .color-right {
                        height: 10px;
                        width: 10px;
                    }
                }

                .section-demo-button {
                    background-color: white;
                    border: 1px solid #504CFF;
                    border-radius: 4px;
                    font-size: 14px;
                    color: #504CFF;
                    width: 137px;
                    height: 35px;
                    cursor: pointer;

                    .enter-icon {
                        height: 20px;
                        width: 20px;
                    }
                }

                .section-demo-result {
                    background-color: #EBEBEB;
                    border-radius: 5px;
                    margin-top: 10px;

                    .section-demo-result-title {
                        font-size: 10px;
                        color: #30303E;
                        opacity: 0.5;
                        letter-spacing: 1px;
                        padding: 15px 0px 0px 15px;
                    }

                    .section-demo-result-value {
                        font-size: 14px;
                        padding: 15px;
                    }
                }
            }
        }
    }

}