@import 'partials/_colors';

.page {
  padding-top: 10px;
  padding-bottom: 10px;
  background: $OF-Third;
  min-height: 500px;
  height: 100%;

  .header {
    border-bottom: 2px solid $OF-First;

    h2 {
      text-transform: capitalize;

      i {
        font-size: 35px;
        vertical-align: bottom;
        margin-right: 5px;
      }
    }

    h2, h5, p {
      margin-left: 15px;

      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
}
