@import 'partials/_colors';

.nav-bar {
    background-color: #171726;
    -webkit-app-region: drag;
    height: 100%;
    position: relative;

    .menu {
        width: 75%;
        list-style: none;
        padding: inherit;
        margin: auto;
        -webkit-app-region: no-drag;
    };
    
    .active-sub-menu {
        color: #8E8CFF;
        font-size: 13px;
        max-height: 500px;
        opacity: 1;
        transition: max-height .5s linear, opacity 1s linear;
    }

    .inactive-sub-menu {
        opacity: 0;
        max-height: 0;
    }

    .title {
        color: #FFF;
        font-size: 14px;
        margin-left: 5px;
    }

    .right-inactive {
        float: right;
        vertical-align: middle;
        transform: rotate(0deg);
        transition: transform .5s linear;
    }

    .right-active {
        float: right;
        vertical-align: middle;
        transform: rotate(90deg);
        transition: transform .5s linear;        
    };

    .content-blocks-list {
        padding-left: 15px;
    }
}